.signup{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    width: 20%;
    position: relative;
    top: 20vh;
    left: 20%;

    input{
        padding: .5rem 1rem ;
        margin: .7rem 0;
    }
 
    .signup-button{
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        align-items: center;

        button{
            padding: .5rem .9rem;
            background-color: green;
            color: white;
            border: solid .04rem green;
            border-radius: .5rem;

            &:hover{
                background-color: blue;
                border: solid .04rem green;
            }
        }

    }

}